<h1>{{title}}</h1>
<p>Weather Information for <span id="cityName"></span></p>
<form id="weatherForm">
    <label>Location:</label>
    <input type="text" name="location" id="location" placeholder="City name...">
    <button type="submit" id="searchButton">Search</button>
</form>
<div>
    <div id="celsius">
    </div>
</div>
