<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="module" src="/javascripts/api.js" defer></script>
      <script type="module" src="/javascripts/utils.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{description}}">
      <meta name="keywords" content="{{keywords}}">
  </head>
  <body>
    {{{body}}}
  <footer>
      <p>Copyright 2024: <a href="https://www.fmpberger.com" target="_blank" rel="noreferrer">fmpberger.com</a></p>
  </footer>
  </body>
</html>
